COMPOSE_PROJECT_NAME=APP-openapi
PROJECT_NETWORK=APP-net
PROJECT_TYPE=sandbox
PROJECT_NAME=APP-openapi
CONTAINER_ID_NAME=APP

# Postgres API DB
POSTGRES_DB_SERVER=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_EXPOSE_PORT=5434
POSTGRES_DB_API=<admin>
POSTGRES_DB_API_USER=<postgres>
POSTGRES_DB_API_PASSWORD=<password>

# DB Test
POSTGRES_DB_SERVER_TEST=openapi-db
POSTGRES_DB_API_TEST=APP_development
POSTGRES_DB_API_USER_TEST=APP_user
POSTGRES_DB_API_PASSWORD_TEST=APP_password


# api
API_HTTP_PORT=8080
API_HTTP_EXPOSE_PORT=8402
API_VERSION=/api/v1
PROXY_ROOT_PATH=/openapi
SERVICE_TEST_URL=localhost:8402
SERVICE_KEYCLOAK_URL=https://sso-myserver/auth
SERVICE_KEYCLOAK_REALM=openapi
SERVICE_KEYCLOAK_CLIENT_ID=adminui
SERVICE_KEYCLOAK_USERNAME=<adminapi>
SERVICE_KEYCLOAK_PASSWORD=<password>
SERVICE_APP_JWT_PUBKEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmQFWpbOWXLlF0YFkBUj/VsKlWIt057PR7szJADIGMBhJP9A8gQse3BVorBapcB+Hngaty5h1w8DV+d9Y0WG8hYaWAQplSczBMJvlUCeRDn16gh8RtCgmlsSAz5zlU/rZbfn6yvWc3AYVYOZuBqVJdv3Xk/z4ZgqnUBByCEcAf0c62kd+kgP+vYSzdmDE8bWGKTcKfYzXyZUJCXzWCiYrHX+QQmAcEwXVUG8mXkWANWyrFR10EofESttiggjhN0QT1sfZjRbMntfazAlYG8suTPiZdTow6nDy6EGlxOwb9L4mM7fLqodmEmRi8oGmu0obJQwhQG8XLAGUhOG6aIZu8wIDAQAB\n-----END PUBLIC KEY-----"

SERVICE_CORE_URL=http://ufe-core_backend_1:80
REDIS_URI=redis://redis:6379
REDIS_AUTH=Secret123

# openapi-db
OPENAPI_HTTP_PORT=8403
OPENAPI_HTTPS_PORT=8443
OPENAPI_DB_VENDOR=POSTGRES
OPENAPI_DB_ADDR=openapi-db
OPENAPI_DB_DATABASE=openapi
OPENAPI_DB_USER=openapi
OPENAPI_DB_PASSWORD=password
OPENAPI_USER=admin
OPENAPI_PASSWORD=admin

# keycloak
PROXY_ADDRESS_FORWARDING=true

# kraken
KRAKEND_PORT=8402

# GCP Storage
BUCKET_NAME=openapi

# for Sandbox
SANDBOX_SRC_REKENING=0060209031245
SANDBOX_MAX_RATE=120
